# Python
__pycache__/
*.py[cod]
*$py.class
venv/
*.db

# React
frontend/node_modules/
frontend/build/
frontend/.env

# IDE and OS files
.DS_Store
.vscode/
.idea/

# Dependency directories
backend/venv/
node_modules/

# Misc
*.log
.env